body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 1em;
	font-family: 'Raleway', sans-serif;
	text-align: justify;
	background-image: url(../images/argyle-hills-blur-still.jpg);
	background-color: black;
}